---
---

@import "{{ site.theme }}";

ul {
    background-image: url('../img/steve-johnson-754951-unsplash_mod.jpg');
    background-size: cover;
    
    li {
        //background: red;
        
        &:first-child {
            background: lime;
        }
    }
}

.abo-linkbtn {
    @extend .btn;
    
    display: inline-block;
    width: auto;
    margin: 0;
    background-image: linear-gradient(mediumturquoise, lightseagreen);
}


h2 {
    clear: both;
}
#example-container {
    width: 300px;
    height: 330px;
    float: right;
    @media (max-width: 600px) {
        float: none;
    }

    #example-picker {
        display: inline-block;
        border: 30px solid currentColor;
        border-radius: 100%;
        box-shadow: 0 2px 4px 0 black;
    }

    .picker_wrapper {
        position: absolute;
    }
}
