---
---

@import "{{ site.theme }}";

ul {
    li {
        background: red;
        
        &:first-child {
            background: lime;
        }
    }
}

.abo-linkbtn {
    @extend .btn;
    background-image: linear-gradient(mediumturquoise, lightseagreen);
}